.bgimage{
	background-image: url('../images/cat.jpg');
	background-position: center center;
	background-size: cover;
	height: 200px;
	margin-top: 50px;

}

.content{
	padding-top: 50px;
}

.alert{
	margin-top:10px;
	margin-bottom:0px;
}